<!DOCTYPE html>
<html lang="" ng-app="app">
    <head>
        <title>{{title}}</title>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <!-- base url -->
        <base href="<%= webpackConfig.metadata.baseUrl %>">
    </head>

    <body>
        <div ui-view></div>

        <% if (webpackConfig.metadata.ENV==='development' ) { %>
        <!-- Webpack Dev Server reload -->
        <script src="/webpack-dev-server.js"></script>
        <% } %>
    </body>
</html>
